h1
{
	text-align: left;
	color: green;
}
.logo 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-all
{
	text-align: right;
	color: blue;
	font-style: italic;
	font-size: larger;
}

.table-container
{
	 display: flex;
    justify-content: center; 
    width: 100%;
}


.table-container table {
    border-collapse: collapse;
    width: auto; 
}

th, td {
    border: 2px solid black;
    padding: 8px; 
}

th {
    background-color: gray;               
    font-weight: bold;
}

h2
{
	text-align: center;
	color: blue;
	font-style: italic;
}

